; This file contains some recommended settings I found
; the most important part for now is logging configuration

[PHP]
allow_url_fopen = On
allow_url_include = Off
default_charset = "UTF-8"
default_socket_timeout = 60
display_errors = Off
display_errors = stderr
display_startup_errors = Off
engine = On
error_log = /dev/stderr
error_prepend_string = "wordpress: "
error_reporting = E_ERROR | E_WARNING | E_PARSE | E_CORE_ERROR | E_CORE_WARNING | E_COMPILE_ERROR | E_COMPILE_WARNING | E_RECOVERABLE_ERROR
expose_php = Off
file_uploads = On
html_errors = Off
ignore_repeated_errors = On
ignore_repeated_source = Off
log_errors = On
log_errors_max_len = 1024
max_execution_time = 30
max_file_uploads = 20
max_input_time = 60
memory_limit = 256M
output_buffering = 4096
post_max_size = 8M
precision = 14
realpath_cache_size = 4096k
report_memleaks = On
request_order = "GP"
serialize_precision = -1
short_open_tag = Off
upload_max_filesize = 2M
variables_order = "GPCS"

[opcache]
; Recommended opcache values
; https://www.php.net/manual/en/opcache.installation.php
opcache.memory_consumption=128
opcache.interned_strings_buffer=8
opcache.max_accelerated_files=4000
opcache.revalidate_freq=60
opcache.fast_shutdown=1 ; prior to PHP 7.2.0
opcache.enable_cli=1

